@model IEnumerable<ASE_Election_Portal_G20.Models.Candidate>


@{
    ViewData["Title"] = "Candidate List";
    Layout = "~/Views/Shared/Voter_layout.cshtml";
}

<div style="display: flex; margin-bottom: 30px">
    <h2 class="col-md-6">Candidate List</h2>
</div>
<hr />
<div class="row">
    <div class="center-align">
@using (Html.BeginForm("CandidateList", "Candidates", FormMethod.Post))
{
    <div class="form-group d-flex">
                <label class="col-md-5 control-label " for="candidateFilter">Filter Candidates:</label>
                <select id="candidateFilter" name="candidateFilter" class="form-control">
                    <option value="" selected>-Select Candidates-</option>
                    <option value="allCandidates">All Candidates</option>
                    <option value="stateCandidates">Candidates from My State</option>
                    <option value="countyCandidates">Candidates from My County</option>
                </select>

                

    </div>
            <div style="text-align: center;margin-top:20px">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
    }
    </div>
    </div>
@if (Model != null)
{
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" style="margin-top: 20px">@TempData["ErrorMessage"]</div>
    }
    else
    {
        <h3>Candidates:</h3>

<div style="display:flex; justify-content:center">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoliticalParty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElectionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NominatedPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                            @item.FirstName @item.LastName
            </td>
  
            <td>
                        @item.Dob.ToString("MM-dd-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoliticalParty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.CountyNavigation.CountyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectionType.ElectionTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NominatedPosition.PositionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateNavigation.StateName)
            </td>
            <td>
                            <a class="btn btn-primary" asp-controller="Candidates" asp-action="candidateDocuments" asp-route-id =@item.CandidateId>Documents</a>


            </td>
                   
        </tr>
}
    </tbody>
</table>
</div>
}}