@model IEnumerable<ASE_Election_Portal_G20.Models.CandidateDocument>
@{
    ViewData["Title"] = "Candidate Documents";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<script>
    function confirmApprove() {
        if (confirm("Are you sure you want to approve this document?")) {
            return true;
        }
        return false;
    }
    function confirmRejecte() {
        if (confirm("Are you sure you want to reject this document?")) {
            return true;
        }
        return false;
    }
</script>
<div style="display: flex; margin-bottom: 30px">
    <h2 class="col-md-6">Candidate Documents</h2>
</div>
<div style="display:flex; justify-content:center">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.CandidateId)
            </th>
            
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                        <a href="@Url.Action("DownloadDocument", "Candidates", new { id = item.DocumentId })">@Html.DisplayFor(modelItem => item.DocumentName)</a>

            </td>
  
            <td>
                        @item.Candidate.FirstName @item.Candidate.LastName
            </td>
                    <td>
                        @{
                            if (item.IsVerified && !item.IsRejected)
                            {
                                <div class="alert alert-success"> Approved </div>
                            }
                            else if (!item.IsVerified && !item.IsRejected)
                            {
                                <div class="alert alert-warning"> Verification Pending </div>
                            }
                            else if (item.IsRejected)
                            {
                                <div class="alert alert-danger"> Rejected </div>
                            }
                            
                        }
                    </td>

                    <td>
                        @if(!item.IsVerified && !item.IsRejected)
                        {
                            <form id="approve-form" method="post" action="@Url.Action("Approve", new { id = item.DocumentId })">
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Approve" onclick="return confirmApprove()" class="btn btn-success" />
                            </form>
                            <form id="reject-form" method="post" action="@Url.Action("Reject", new { id = item.DocumentId })">
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Reject" onclick="return confirmReject()" class="btn btn-danger" />
                            </form>
                        }
                        
                    </td>
        </tr>
}
    </tbody>
</table>
</div>
