@model IEnumerable<ASE_Election_Portal_G20.Models.Election>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

@{
    ViewData["Title"] = "Elections";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<script>
    function confirmDelete() {
        if (confirm("Are you sure you want to delete this record?")) {
            return true;
        }
        return false;
    }
</script>
<div style="display: flex; margin-bottom: 30px">
    <h2 class="col-md-6">Elections</h2>
    <p class="col-md-6" style="text-align: right">
        <a class="btn btn-primary" asp-action="Create">Add Election</a>
    </p>
</div>
<div style="display:flex; justify-content:center">
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ElectionYear)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
      
            <th>
                @Html.DisplayNameFor(model => model.ElectionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ElectionId">
                        @Html.DisplayFor(modelItem => item.Description)
                        </a>
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectionYear)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ElectionType.ElectionTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.PositionName)
            </td>
                    <td>
                        <form id="delete-form" method="post" action="@Url.Action("Delete", new { id = item.ElectionId })">
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Delete" onclick="return confirmDelete()" class="btn btn-danger" />
                        </form>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>
